*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    display:flex;
    height:100vh;
    background:#343541;
    color:white;
}

.sidebar{
    width:260px;
    background:#202123;
    padding:20px;
}

.sidebar h2{
    margin-bottom:20px;
}

.sidebar button{
    width:100%;
    padding:12px;
    border:none;
    background:#444654;
    color:white;
    border-radius:8px;
    cursor:pointer;
}

.main{
    flex:1;
    display:flex;
    flex-direction:column;
}

#chat-box{
    flex:1;
    overflow-y:auto;
    padding:20px;
}

.user{
    background:#2b2c2f;
    padding:15px;
    border-radius:10px;
    margin:10px 0;
    max-width:75%;
    margin-left:auto;
}

.bot{
    background:#444654;
    padding:15px;
    border-radius:10px;
    margin:10px 0;
    max-width:75%;
}

.input-area{
    display:flex;
    padding:20px;
    background:#40414f;
}

.input-area input{
    flex:1;
    padding:15px;
    border:none;
    border-radius:10px;
    outline:none;
}

.input-area button{
    margin-left:10px;
    padding:15px;
    border:none;
    border-radius:10px;
    background:#10a37f;
    color:white;
    cursor:pointer;
}
#chat-list{

    margin-top:20px;
}

.chat-item{

    padding:12px;

    margin-bottom:10px;

    background:#343541;

    border-radius:8px;

    cursor:pointer;

    color:white;
}

.chat-item:hover{

    background:#444654;
}